# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
parking-management-frontend/node_modules/
parking-management-backend/node_modules/
parking-management-frontend/.pnp
parking-management-backend/.pnp
parking-management-frontend/.pnp.js
parking-management-backend/.pnp.js

# testing
parking-management-frontend/coverage
parking-management-backend/coverage

# production
parking-management-frontend/build
parking-management-backend/build

# misc
parking-management-frontend/.DS_Store
parking-management-frontend/.env.local
parking-management-frontend/.env.development.local
parking-management-frontend/.env.test.local
parking-management-frontend/.env.production.local
parking-management-backend/.DS_Store
parking-management-backend/.env.local
parking-management-backend/.env.development.local
parking-management-backend/.env.test.local
parking-management-backend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# compiled output
dist
tmp
/out-tsc

# dependencies
parking-management-frontend/node_modules
parking-management-backend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db







